{{#each productos}}
    <div>
        <h2>nombre: {{this.nombre}}</h2>
        <p>precio: {{this.precio}}</p>
        <p>descipcion: {{this.descripcion}}</p>
        <button>Comprar</button>
    </div>
{{/each}}