<header>
    <a href="/" class="logo"> Productos </a>

    <nav>
        <ul>
            <li><a href="/chat"> Hable con un vendedor </a></li>
            <li> Mi carrito </li>
            <li> Redes sociales </li>
        </ul>
    </nav>
</header>