<h2>Inicie sesion </h2>

<form action="/api/sessions/login" method="POST">
    <label for="email">Email: </label>
    <input type="email" name="email" required>
    <br><br>
    <label for="password">Password: </label>
    <input type="password" name="password" required>
    <br><br> 
    <button class="btn btn-primary" type="submit">Iniciar </button>
    <br><br>
    <a href="/reset-password" type="submit">Olvidaste tu contraseña?</a>
</form>
<br><br>
<a class="btn btn-secondary" href="/tokenRegister">Registrarse! </a>
<a class="btn btn-secondary" href="/api/sessions/github"> Ingresar con Github </a>