<h2>Productos</h2>
<form action="/api/products" method="POST">
    <label for="title">Producto: </label>
    <input type="text" name="title" required>
    <br><br>
    <label for="description">Descripcion: </label>
    <input type="text" name="description" required>
    <br><br>
    <label for="category">Categoria: </label>
    <input type="text" name="category" required>
    <br><br>
    <label for="price">Precio: </label>
    <input type="number" name="price" required>
    <br><br>
    <label for="thumbnail">URL de la imagen: </label>
    <input type="text" name="thumbnail" required>
    <br><br>
    <label for="code">Codigo: </label>
    <input type="text" name="code" required>
    <br><br>
    <label for="stock">Stock: </label>
    <input type="text" name="stock" required>
    <br><br>
    <button class="btn btn-primary" type="submit"> Agregar Producto </button>
</form>