<header>
    <a href="/" class="logo"> Productos </a>

    <nav>
        <ul>
            {{#if userName}}
                {{#if rol}}
                <li><a href="/addProduct"> Agregar producto </a></li>
                {{else}}
                <li><a href="/carts/{{cid}}"> Mi carrito </a></li>
                <li><a href="/chat"> Hable con un vendedor </a></li>
                {{/if}}
            <li><a href="/profile"> Mi Perfil </a></li>
            <li><a href="/api/sessions/logout"> Logout </a></li>
            {{else}}
            <li><a href="/tokenLogin"> Login </a></li>
            <li><a href="/tokenRegister"> Registrarse! </a></li>
            {{/if}}
        </ul>
    </nav>
</header>