<h1>No tienes permiso para ingresar a esta seccion pobre mortal</h1>
<div style="display: flex; justify-content: center;">
    <img src="https://i.pinimg.com/474x/f8/64/43/f8644304ae1fe29b4520fe8c58c201a8.jpg" alt="accessDenied" style="width: 50vh;">
</div>