<header>
    <a href="/" class="logo"> Productos </a>

    <nav>
        <ul>
            <li><a href="/chat"> Hable con un vendedor </a></li>
            <li> <a href="/carts/65f3053a4a4908a2453b392e"> Mi carrito </a></li>
            <li> Redes sociales </li>
        </ul>
    </nav>
</header>